
@import "bootstrap";


.container {
  @include make-container();
  // Make sure to define this width after the mixin to override
  // `width: 100%` gen  erated by `make-container()`
  width: 800px;
}

.offcanvas {
  background-color: #f8f9fa; /* Màu nền của menu */
}

.offcanvas-header {
  border-bottom: 1px solid #ddd; /* Đường kẻ dưới tiêu đề */
}

.offcanvas-body .nav-link {
  margin: 10px 0; /* Cách đều các mục menu */
}


.row {
  @include make-row();
}

.navbar-brand {
  img, svg {
    max-width: 300px;
    min-width: 100px;
  }
}

.nav-container {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
}

.content-main {
  
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
}
.content-main {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

  .navbar {
    display: flex;
    justify-content: flex-end; /* Căn phần tử con sang bên phải */
    padding: 10px;
  }
}


.content-secondary {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
}

* {
  box-sizing: border-box;
}

.menu {
  width: 25%;
  float: left;
}
.main {
  width: 75%;
  float: left;
}

body {
  background-color: rgb(173, 230, 192);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  // opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 34px;
  margin-bottom: 34px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  background: #04AA6D;
  cursor: pointer;
}

